<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.pjmike.Blog.dao.ArticleDao">

    <select id="findAllArticleByPage" parameterType="map" resultMap="articleResult">
        SELECT * FROM article
    </select>
    <select id="findArticleById" parameterType="java.lang.Long" resultMap="articleResult">
        SELECT * FROM article WHERE article_id = #{id}
    </select>
    <!--将文章和评论一块查询返回-->
    <select id="findArticleWithComments" parameterType="java.lang.Long"
    <insert id="createArticle" parameterType="article" useGeneratedKeys="true" keyProperty="article_id">
        INSERT INTO article(<include refid="key"/>) VALUES (<include refid="value"/>)
    </insert>
    <update id="updateArticle">
        UPDATE article SET
        <if test="article.articleTitle != null">
            article_title = #{article.articleTitle}
        </if>
        <if test="article.articleContent != null">
            article_content = #{article.articleContent}
        </if>
        <if test="article.articleCid != null">
            article_cid = #{article.articleCid}
        </if>
        WHERE article_id =#{id}
    </update>
    <delete id="deleteArticle" parameterType="long">
        DELETE FROM article WHERE article_id = #{id}
    </delete>
    <sql id="key">
        <trim suffixOverrides=",">
            <if test="articleTitle != null">article_title,</if>
            <if test="articleContent != null">article_content,</if>
            <if test="articleUid != null">article_uid,</if>
            <if test="articleCid != null">article_cid,</if>
        </trim>
    </sql>
    <sql id="value">
        <trim suffixOverrides=",">
            <if test="articleTitle != null">#{articleTitle},</if>
            <if test="articleContent != null">#{articleContent},</if>
            <if test="articleUid != null">#{articleUid},</if>
            <if test="articleCid != null">#{articleCid},</if>
        </trim>
    </sql>
    <resultMap id="articleResult" type="article">
        <id column="article_id" property="articleId"/>
        <result column="article_title" property="articleTitle"/>
        <result column="article_content" property="articleContent"/>
        <result column="article_uid" property="articleUid"/>
        <result column="article_cid" property="articleCid"/>
        <result column="create_time" property="createTime"/>
    </resultMap>
    <resultMap id="articleWithComments" type="articleDto">
        <id column="article_id" property="articleId"/>
        <result column="article_title" property="articleTitle"/>
        <result column="article_content" property="articleContent"/>
        <result column="article_uid" property="articleUid"/>
        <result column="article_cid" property="articleCid"/>
        <result column="create_time" property="createTime"/>
        <!--级联-->
        <collection property="comments" ofType="comment">
            <id column="comment_id" property="commentId"/>
            <result column="from_uid" property="fromUid"/>
            <result column="f_name" property="fName"/>
            <result column="f_icon" property="fIcon"/>
            <result column="to_uid" property="toUid"/>
            <result column="to_name" property="toName"/>
            <result column="to_icon" property="toIcon"/>
            <result column="content" property="content"/>
            <result column="article_id" property="articleId"/>
            <result column="create_time" property="createTime"/>
        </collection>
    </resultMap>
</mapper>